*{margin: 0;
    padding: 0;
}

.logo {border: 1px solid red;background-color: red;}
.letsrock hr {display: none;}
.letsrock img{height: 500px;width: 500px;}
.letsrock h1 {font-size: 45px;color: red;position: relative;left: 40%;bottom: 320px;}
.letsrock h2 {font-size: 30px;position: relative;left: 45%;bottom: 320px;}
.letsrock button {height: 40px;width: 130px;border: 1px solid red;border-radius: 20px ;background-color: red;color: white;
    position: relative;left: 72%;bottom: 250px;}
.introducing {margin-top: 50px;}
.introducing h2{color: red;}
.Jonesmith {margin-top: 50px;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.Jonesmith h3{background-color: red;color: white;width: 370px;font-size:30px ;}
.Jonesmith h4{background-color: red;color: white;width: 370px;font-size:25px ;}
.RendiOuthor {margin-top: 50px;display: flex; align-items: center;justify-content: center;flex-direction: column;}
.RendiOuthor h3{background-color: red;color: white;width: 370px;font-size:30px ;}
.RendiOuthor h4 {background-color: red;color: white;width: 370px;font-size:25px ;}
.RenesOdim {margin-top: 50px;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.RenesOdim h3 {background-color: red;color: white;width: 370px;font-size:30px ;}
.RenesOdim h4 {background-color: red;color: white;width: 370px;font-size:25px ;}
.latest {margin-top: 50px;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.latest video {width: 400px;height: 200px;}
.latest h1 {font-size: 40px;position: relative;right: 27%;}
.latest h2 {font-size: 30px;color: red;position: relative;right: 27%;}
.subscribe {margin-top: 50px;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.subscribe p {font-size: 20px;}
.subscribe hr {width: 270px;margin-left: 110px;}
.table {text-align: center;background-color: lightgray;width: 700px;font-size: 30px;;display: none;position: absolute;left: 32%;margin-top: 50px;}
.table tr{color: red;}
.table th {color: white;background-color: red;}

.burger {
    
    position: absolute;
    top: 11px;
    left: 85%;
    width: 60px;
    height: 60px;
    background-image: url("https://icon-library.com/images/white-hamburger-menu-icon/white-hamburger-menu-icon-24.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition-delay: 0.2s;
    




}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;


}

menu a {
    font-size: 25px;
    text-decoration: none;

}

menu {
    position: absolute;
    top: 60px;
    height: 0px;
    right: 65px;
    overflow: hidden;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: white;
    transition-delay: 0.2s;
    z-index: 1;

}

.drop-down-container:hover .burger {
    background-image: url("https://icon-library.com/images/white-hamburger-menu-icon/white-hamburger-menu-icon-24.jpg");
}

.drop-down-container:hover menu {
    height: 150px;
    padding: 20px 0;
}

 .info{display: flex;justify-content: flex-end;color: white;position: relative;bottom: 70px;right: 30%;
    display: none;}  
 .info p {padding: 20px;text-align: left;} 

 .footerr {display: none;justify-content: center;position: relative;top: 300px;border: 1px solid black;width: 100%;height: 130px;}
 .footerr h3 {padding: 20px;display: flex;}
 .copyright {position: absolute;left: 36%;top: 268%;display: none;}

 
 


 



 @media only screen and (min-width: 1200px){

.letsrock hr {position: relative;bottom: 80px;border: 1px solid red;display: flex;}
.letsrock img {width: 900px;height: 500px;}
.letsrock h1 {font-size:90px;color: red;}
.letsrock h2 {font-size: 60px;position: relative;left:50%;}
.letsrock button {position: relative;left: 50%;width: 200px;height: 50px;}
.introducing {display: flex;}
.introducing h1 {position: relative;bottom: 40px;}
.introducing img {margin:10px;}
.latest h1 {position: relative;right: 27%;}
.latest h2 {position: relative;right: 27%;}
.latest video {height: 500px;width: 1000px;}
.table {display: flex;}
.burger {display: none;}
.info {display: flex;}
.introducingall {display: flex;position: relative;right: 20px;}
.footerr {display:flex ;}
.copyright {display: flex;}



} 

