header {
    border: 5px solid rgb(247, 238, 244);
    height: 500px;
    background-image: url(image-hero.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.loopstudios {
    color: white;
}

.dropdown {
    display: inline-block;
}

.dropdown button {
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: blue (0, 0%, 95%);
    width: 100px;
}

.dropdown:hover .content {
    display: block;
}



.header {
    display: flex;
    align-items: center;
}

.about {
    color: white;
    padding: 20px;
    display: inline-block;
    ;

}

.careers {
    color: white;
    padding: 20px;
    display: inline-block
}

.event {
    color: white;
    padding: 20px;
    display: inline-block
}

a {
    color: white;
    margin: 20px;
}




.description {
    display: flex;
    border: 1px solid white;
    position: relative;
    top: 200px;
    right: 300px;
    padding: 30px;
}

.description h1 {
    color: white;
}

.interactive {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.descriptiontwo {
    border: 1px solid white;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 850px;
    right: 200px;
    background-color: white;
    text-align: center;
    padding: 20px;
}

.firstfour {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 140px;
}

.secondfour {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 60px;
}

footer {
    background-color: black;
    border: 1px solid black;
    height: 150px;
    display: flex;
}

.footername {
    color: white;
}

.footerbelow {
    color: white;
    display: flex;
    align-items: flex-end;
}

.footerbelow h3 {
    margin: 5px;
    padding: 60px;
}