header {
    border: 5px solid black;
    height: 250px;
    background-color: bisque;
}

.dropdown {
    display: inline-block;
}

.dropdown button {
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: blue (0, 0%, 95%);
    width: 100px;
}

.dropdown:hover .content {
    display: block;
}



.header {
    display: flex;
    align-items: center;
}

.company {
    padding: 20px;
    display: inline-block;

}

.careers {
    padding: 20px;
    display: inline-block
}

.about {
    padding: 20px;
    display: inline-block
}



.login {position: absolute; top: 50px;right: 50px;}